<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <link rel="stylesheet" href="{{url_for('static', filename='s.css')}}" />
</head>

<body>
  <div class="container">
    <p>
    <h1>Search</h1>
    </p>
    <form action="" method="POST">
      <div class="mb-3">
        <label class="form-label">Enter SQL Query:</label>
        <input type="text" id="query" name="query" class="form-control" >
      </div>
      <button type="showuser" class="btn btn-primary">Search</button>
      <a href="/home" class="btn btn-primary">Cancel</a>
    </form>
  </div>
</body>