<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
</head>
<body>
<div class="container">
        <p>
        <h1>Query</h1>
        {{query}}
        </p>
        <table class="table table-bordered">
            {% for column in user %}
        <tr> 
            {% for col in column %}
            <td>{{col}}</td>
            {% endfor %}
        </tr> 
            {% endfor %}
        </div> 
          </div>
  <a href="/home" class="btn btn-primary">Back to Menu</a>
  <div>
    <label class="form-label">Result:</label>
  </div>
</body>