<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <link rel="stylesheet" href="{{url_for('static', filename='s.css')}}" />
</head>
<body>
<div class="container">
        <p>
        <h1>User {{user.email}}</h1>
        </p>
            
          <div class="form-group">
            <label class="form-label">Name:</label>
            <label class="form-label">{{user.name}}</label>
          </div>
          <div class="form-group">
            <label class="form-label">Last Name:</label>
            <label class="form-label">{{user.surname}}</label>
          </div>
          <div class="form-group">
            <label class="form-label">Salary:</label>
            <label class="form-label">{{user.salary}}</label>
          </div>
          <div class="form-group">
            <label class="form-label">Phone:</label>
            <label class="form-label">{{user.phone}}</label>
          </div>
          <div class="form-group">
            <label class="form-label">Country:</label>
            <label class="form-label">{{user.cname}}</label>
            
        
  </div> 
  
  <a href="/home" class="btn btn-primary">Back to Menu</a>
</body>